:root {
    --primary-color-light: #039be5;
    --primary-color: #039be5;
    --primary-color-dark: #039be5;
    --secondary-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--primary-color-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-light);
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('/static/icons/ulsu.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.sidenav {
    height: 200%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -50px;
    left: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 4rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.sidenav::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.sidenav p.is-title {
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
    margin-left: 10%;
}

.sidenav p:hover {
    color: white;
}

.sidenav > ul {
    list-style: none;
    padding-left: 0;
}

.sidenav > ul > li {
    display: flex;
    font-size: 1rem;
    color: black;
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-right: 10px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--primary-color-light);
    height: 75px;
    width: 150px;
    
}

.sidenav > ul > li.is-active {
    box-shadow: 3px 3px #039be5;
}

.sidenav > ul > li.is-active:hover {
    box-shadow: 3px 3px #039be5;
}

.sidenav > ul > li:hover {
    color: var(--primary-color-dark);
    cursor: pointer;
    box-shadow: 3px 3px var(--primary-color-dark);
}
  
#sidebar-close {
    
}

.close-bt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(99%, 90.5rem);
    margin-inline: auto;
    overflow-x: scroll;
    min-height: 85%;
}

#cards-container {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.85rem;
}

.parent-card {
    flex-shrink: 0;
    padding: 1rem 0.5rem;
    background-color: aliceblue;
    border-radius: 0.3rem;
    width: 18.5rem;
    
    
}

.card-title {
    font-size: 1.2rem;
}

.item-title {
    font-size: 1rem;
}

.parent-card > ul {
    max-height: 20rem;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
}

.parent-card > span {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s linear;
}

.parent-card > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-right: 0.5em;
    margin-bottom: 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px rgba(107, 107, 107, 0.63);
}

.parent-card > ul > li > span {
    letter-spacing: 0.7rem;
}

.fa:hover, #sidebar-button:hover {
    cursor: pointer;
    color: var(--primary-color-light);
}

.parent-card > ul > li > p {
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.text-fix {
	word-break: break-all;
    text-overflow: ellipsis;
    margin: 15.936px 0px;
}

.unselectable {
    user-select: none;
}

#title {
    background-color: transparent;
    color: white;
    margin: 0;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

input[type="text"] {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1em;
    background-color: transparent;
}

#add-card{
    backdrop-filter: blur(5px);
    border-radius: 0.3rem;
    box-shadow: 3px 3px 3px rgb(17 17 17 / 15%);
   
}

input[type="text"]:focus {
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
}

#add-card > input[type="text"]::placeholder {
    color: black;
}

#add-card > input[type="text"]:focus {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
}

#add-board-button {
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: black;
    padding: 0.5em 1em;
    box-shadow: 0px 2px var(--primary-color-light);
    margin-bottom: 2rem;
}

#add-board-button:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0px 2px white;
}

#add-board-text {
    width:150px;
    height: 150px;
    color:black;

}

.plus-button {
    border: none;
    font-size: 1.5em;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.plus-button:hover {
    background-color: var(--primary-color-light);
}

header {
    background-color: transparent;
}

.header-flex {
    margin-inline: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-block: 0.1rem;
    margin-bottom: 1rem;
}

.flex-col {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-left: 9%;
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--primary-color-light);
    height: 150px;
    width: 150px;
}

/* Context Menu */

.context-menu {
    background: #ebebeb;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.200);

    position: fixed;
    z-index: 15;
    width: 150px;
    display: none;

    transform: scale(0);
    transform-origin: top left;
}

.context-menu.visible {
    display: block;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.context-menu ul li {
    cursor: pointer;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
}

.context-menu ul li:hover {
    background:#d9d9d9;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
}

#boards-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 9%;
    padding-left: 0 ;
    flex-wrap:wrap ;
    
}



.theme {
    position:fixed;
    cursor: pointer;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}   

@media only screen and (max-device-width: 800px) {
    .theme{
        top: 90%;
    }
}

@media (max-device-width: 800px) {
    .theme{
        top: 90%;
    }
}

.fa-floppy-o{
    display: none;
}

/*--------alerts-------------*/

#alert-container {
    position: relative;
}

#alerts {
    position: absolute;
    bottom: 20px;
    right:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.alert {
    background-color: white;
    color: black;
    padding-block: 0.2rem;
    padding-inline: 2rem;
    border-left: 5px solid red;
    border-radius: 0.5rem;
    z-index: 9;
    transition: linear 0.5s;
}

.animate-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.35s, opacity 0.35s linear;
}

#myBtn {
    background-color: #9C27B0;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 180px;
  }
  
  
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  .modal-content {
      position: relative;
      background-color: aliceblue;
      margin: auto;
      padding: 0;
      border: 5px solid aliceblue;
      width: 50%;
      height: 50%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
  }
  
  
  @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
  }
  
  
  .close {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
  .modal-header {
      padding: 2px 16px;
      background-color: aliceblue;
      color: black;
  }
  
  .modal-body {
    padding: 2px 16px;
    overflow: auto;
}
  

  .modal-footer {
      padding: 2px 16px;
      background-color: aliceblue;
      color: black;
  }

  .Modal_text{
    font-size: larger;
  }

  