.theme {
    background: #222222;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.sidenav > ul > li {
    color: #f4f4f4;
    background-color: #373737;
}

.flex-col {
    background-color: #373737;
}

#add-board-text {
    color: #f4f4f4;
}

.sidenav {
    background-color: #111111;
}

.fs-4{
    color: #f4f4f4;
}

.btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.parent-card {
    background-color: #373737;
    transition: 0.5s linear;
}

.card-title {
    color: #f4f4f4;
}

body{
    background-image: url('/static/icons/ulsu-dark.jpg');
}

.fa{
    color: white;
}

#sidebar-button{
    color: white;
}

.alert{
    background-color: #373737;
    color: #f4f4f4;
}

.pencilItem{
    color: black;
}

.trashItem{
    color: #111111;
}

.barsItem{
    color: #111111;
}

.cardTitledark{
    color: #111111;
}

.modal-content {
    background-color: #373737;
    border: 2px solid #373737;
}

.close {
    color: aliceblue;
}

.close:hover,
  .close:focus {
      color: aliceblue;
  }
  
  .modal-header {
      background-color: #373737;
      color: aliceblue;
  }

  .modal-footer {
    background-color: #373737;
    color: aliceblue;
}

.Modal_text{
    font-size: larger;
    color: aliceblue;
}

#Modal_description{
    color: aliceblue;
    font-size: larger;
}